USER DETAILS
NAME: {{ .Name }}
E-MAIL: {{ .Email }}
IP: {{ .IP }}
BROWSER: {{ .UserAgent }}
LOCATION: {{ .Location.City }} {{ .Location.PostalCode }}, {{ .Location.RegionName }}, {{ .Location.CountryName }} {{ .Location.CountryFlag }}

MESSAGE
{{ .Message }}