name: Build

on:
  push:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - run: mkdir bin
    - run: env GOOS=linux GOARCH=amd64 go build -o bin/mailer
    - run: touch .env
    - run: zip -r bin/mailer.zip main.go mailservice/ templates/ .env
    - run: zip -j bin/mailer.zip bin/mailer
    
    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-west-2

    - name: Deploy to Lambda
      run: |
        aws lambda update-function-code --region eu-west-2 --function-name rfxp-mailer --zip-file fileb://bin/mailer.zip --publish
